[submodule "0x05-pointers_arrays_strings/0x05-pointers_arrays_strings/alx-low_level_programming"]
	path = 0x05-pointers_arrays_strings/0x05-pointers_arrays_strings/alx-low_level_programming
	url = https://github.com/hanichoye/alx-low_level_programming.git
